body {
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../imagempp/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 5px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;    
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px #333;
}

.hero-content p{
    background-color: rgba(0, 0, 0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

main{
    width: 80%;
    margin: auto;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li{
    display: inline-block;
    list-style: none; /*sem as bolinhas de lista*/
    border: 2px solid white;
    margin: 10px 2px;
}

.hero nav a{
    color: white;
    text-transform: uppercase;
    text-decoration: none; /*para tirar o sublinhado do hyperlink*/
    font-size: 12px;
    letter-spacing: 2px;
    background: rgb(0, 0, 0, 0.2); /*o último núm. se refere ao "a", transparência*/
    display: block; /*entender se é config. "block" ou "linha"*/
    padding: 10px; /*padding está aqui pq colocamos como display block*/
}

.hero nav a:hover{ /*quando passa o mouse*/
    background: rgb(0, 0, 0, 0.3);
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.content-section h2{
    background-color: rgb(228, 225, 225);
    padding: 15px;
    border-bottom: outset 2px rgb(240, 237, 237);
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card1, .card2{
    margin-right: 2%;
}

.card p{
    background-color: rgb(77, 73, 73);
    color: white;
    margin: 0;
    padding: 15px;
}

.card img{
    width: 100%;
    display: block;
}

.rodape{
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background:rgb(158, 152, 152);
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 2px 2px #333;
}